.body {
  height: auto;
  width: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  font-size: 16px;
  grid-column: 2/4;

  color: #000000;
}
#StickMan1 {
  position: relative;
  top: 30px;
  left: 200px;
  width: 150px;
}
#Welcome {
  font-size: 24px;
}
